/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: monospace;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    min-height: 100vh;
    background-color: #ffff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    line-height: 1.5;
}

/* END OF RESET */

#sim {
    background-color: lightgreen;
    width: 80vmin;
    aspect-ratio: 1/1;
    position: relative;
}

#flow {
    position: absolute;
    transform-origin: 0 50%;
    --angle: 0rad;
    transform: rotate(var(--angle));
    background-color: black;
}

#rate {
    position: absolute;
    padding: 2rem;
    left: 50%;
    transform: rotate(calc(-1 * var(--angle)));
    transform-origin: 50% 50%;
    color: black;
}