/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui, sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    line-height: 1.2;
}

body {
    background-color: #ffff;
}

/* END RESET */

h1 {
    user-select: none;
}

#sim {
    width: 80vmin;
    aspect-ratio: 1/1;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightpink;
    overflow: hidden;
}

#circle {
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 50%;
    border: solid 4px black;
}